<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="jquery.js"></script>

</head>
<body>
<button onclick="Api('land');">LAND</button>
<button onclick="Api('takeoff');">Takeoff</button>
<button onclick="Api('stop');">Stop</button>
<button onclick="Api('camera/0');">Front Camera</button>
<button onclick="Api('camera/3');">Bottom Camera</button>
<div id="batteryStatus"></div>
</body>
</html>
<script >
    $(document).keydown(function(e) {
    switch(e.which) {
        case 37: Api("left/0.01");
        break;

        case 38: Api("up/0.01");
        break;

        case 39: Api("right/0.01");
        break;

        case 40: Api("down/0.01");
        break;
        
        case 65: Api("counterClockwise/0.01");
        break;

        case 87: Api("front/0.01");
        break;

        case 68: Api("clockwise/0.01");
        break;

        case 83: Api("back/0.01");
        break;

        case 13: Api("takeoff");
        break;

        case 32: Api("land");
        break;

        case 16: Api("stop");
        break;

        
        default: break; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
$(document).keyup(function(e) {
    Api("stop");    
});


setInterval (function() { 
    fetch('http://localhost:3000/battery').then(function(response) {
    console.log (response.json().then(function(data) {
        console.log(data);}))
    });
    $("#batteryStatus").html(fetch('http://localhost:3000/battery'));
}, 5000);

function Api(str){
    fetch('http://localhost:3000/'+str).then(x => { 
        console.log(str, x.url);
    })
}
</script>
